@mixin hamburger($width, $height, $space, $color) {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.4s;
  &::before {
    content: "";
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    transition: transform 0.4s 0.3s;
  }

  span {
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    margin: $space 0;
    transition: transform 0.4s 0.3s;
  }

  &::after {
    content: "";
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    transition: transform 0.4s 0.3s;
  }
}

@mixin button($background, $color, $radius) {
  font-weight: 700;
  background-color: $background;
  color: $color;
  border-radius: $radius;
  text-decoration: none;
}

@mixin input($border-radius, $border-color) {
  background-color: transparent;
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

@mixin horizontalSlideLink($color, $speed) {
  a {
    color: $dark-color;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;

    span {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: transform $speed;
      transform: translateX(-100%);
      overflow: hidden;

      &::before {
        content: attr(data-content);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        color: $color;
        transition: transform $speed;
        transform: translateX(100%);
      }
    }

    &:hover span {
      transform: translateX(0);

      &::before {
        transform: translateX(0);
      }
    }
  }
}
