@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(0);
  }
}

@keyframes disappear {
  to {
    transform: scaleX(0);
  }
}

@keyframes loadingBounce {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}
