@import "css_partials/variables";
@import "css_partials/components/mixins";
@import "css_partials/utilities";
@import "css_partials/animations";
@import "css_partials/components/preloader";
@import "css_partials/components/navbar";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Mono&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 3px $dark-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #727787;
}

body {
  font-family: "Poppins", sans-serif;
}

// Home page

.hero {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .talk {
    margin-top: 3rem;
  }
  .title {
    font-size: 1.8rem;
    font-weight: 800;
    color: $secondary-color;
  }

  p {
    width: 400px;
  }

  .btn {
    @include button($primary-color, #fff, 20px);
    width: 220px;
    position: relative;
    transition: transform 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0px 0px 15px #0000007e;
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover {
      transform: scale(1.05);
      &::before {
        opacity: 1;
      }
    }
  }
}

.scroll-div {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;

  p {
    margin: 0;
    font-weight: 800;
    font-size: 1.2rem;
  }
}

.products-container {
  overflow: hidden;
  .heading {
    font-weight: 600;
    font-size: 1.2rem;
    width: max-content;

    &::before {
      content: "";
      display: block;
      height: 3px;
      width: 50%;
      background-color: $primary-color;
    }
  }

  .search-bar-container {
    justify-content: flex-end;
  }

  .input-container {
    @include input(20px, $secondary-color);
    padding: 1px 10px;
    width: 250px;
    height: 30px;
    font-size: 0.8em;
    input {
      border: 0;
      outline: 0;
      width: 100%;
      background-color: transparent;
    }

    button {
      border: none;
      outline: none;
      padding: 0;
      background-color: transparent;
    }
  }
}

.product-card {
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px 0px 5px $grey-color;
  color: $dark-color;
  height: 360px;

  &:hover {
    .product-image {
      transform: rotate(-2deg) translateY(-10px) scale(1.05);
    }
    .product-name::after {
      transform: scaleX(1);
    }
  }

  .product-image {
    transition: all 0.3s;
    height: 200px;
    overflow: hidden;
    position: relative;
    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  .product-body {
    padding: 15px;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -50%;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: rgba(52, 89, 149, 0.5);
      z-index: -1;
    }
  }

  .product-name {
    width: max-content;
    &::after {
      content: "";
      display: inline-block;
      height: 3px;
      width: 50%;
      background-color: $primary-color;
      transform: scaleX(0);
      transition: transform 0.3s;
      transform-origin: left;
    }
  }

  .product-name,
  .price {
    font-weight: 700;
  }

  .details-btn {
    @include button($secondary-color, #fff, 10px);
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
    padding: 5px 8px;
    text-align: center;

    .arrow {
      display: inline-block;
      margin-left: 5px;
      font-weight: 700;
      transition: transform 0.4s;
      transform-origin: right;
      transform: scaleX(0);
    }

    &:hover .arrow {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

// Media queries
@media screen and (max-width: 600px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;

    .talk {
      margin-top: 4rem;
    }
    p {
      width: 100%;
    }
  }

  .products-container {
    .search-bar-container {
      justify-content: flex-start;
    }
  }

  [data-aos="fly-in"] {
    opacity: 0;
    transform: translateX(-100vw) rotate(-120deg);
    transition-property: opacity, transform;

    &.aos-animate {
      opacity: 1;
      transform: rotate(0) translateX(0);
    }
  }
}
